{%extends './base.html' %}

{%block title%} Visualizacion de datos {%endblock%}

{%block body %}

<strong>

    <section class="visualizacion section">
        <div class="visual__container container">

            <div class="visualizacion__icon">
                <a href="http://127.0.0.1:5017/datos" >
                    <i class="uil uil-previous"></i>
                </a>
                <a href="http://127.0.0.1:5017/" class="">
                    <i class="uil uil-step-forward"></i>
                </a>
            </div>
            <div class="visual__content">
                <div class="variables">
                    <h1 class="visual__title"><span>{{recomen}}</span></h1>
                    <h3>Tiempo de Estudio</h3>
                    {{time}}
                    <h3>Numero de Ejercicios</h3>
                    {{exer}}
                    <h3>Nota Test</h3>
                    {{notaT}}

                </div>

                <div class="recomendacion__red">
                    <div class="imgen">
                        <img id="imagen" src="../static/img/{{ref}}.png" alt="imagen">
                    </div>
                </div>
            </div>
            
            <p>Balance pasa</p>
            {{pas}}
            <p>Balance tiempo</p>
            {{mtiempo}}
            <p>Balance # Ejercicios</p>
            {{mexer}}

            <h4>Resultado final</h4>
            {{resul}}
        </div>
    </section>

</strong>

{%endblock%}